$maincolor: #333;
$borderred: red;
$stringlist: "cats", "more cats", "all of the cats";
$colormap: (
        1: #333,
        2: #222,
        3: #fff,
        4: #eee);

$inttype: 5;
$intwidth: 500px;